registry=https://registry.npmmirror.com
disturl=https://npmmirror.com/dist
node_inspector_cdnurl=https://npmmirror.com/mirrors/node-inspector
fsevents_binary_host_mirror=https://npmmirror.com/mirrors/fsevents/
